.wrapper-characters {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

.card {
    max-width: 300px;
    border: 1px dashed #24b7df;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 16px 0;
    color: #24b7df;
    font-weight: 500;
}

/* .card-info h2 {
  font-size: 24px;
  font-weight: 700;
} */


.character-name {
    font-size: 24px;
    font-weight: 700;
}

.card-info a:hover {
    color: #dd1034;
}