body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #32741a;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    text-align: center;
    gap: 10px;
}

.border {
    border: 10px dashed #01adc6;
    padding: 24px;
    margin: 8px;
    border-radius: 15px;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #01adc6;
}


.footer-social {
    display: flex;
    gap: 24px;
}

.footer-social a {
    font-size: 1.5rem;
}

.footer-social a:hover {
    color: #dd1034;
}
