body {
  font-family: "Roboto", system-ui;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3E7213;
}

.main-menu {
  display: flex;
  flex-direction: row;
  background: #3E7213;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 15px dashed #24b7df;
  padding: 80px;
}

.main-menu li a {
  font-size: 20px;
  font-weight: 700;
  color: #24b7df;
}

.main-menu li a:hover {
  color: #d91130
}