.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #3E7213;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.main-menu li a {
  font-size: 20px;
  font-weight: 700;
  color: #24b7df;
}

.main-menu li a:hover {
  color: #d91130
}

.main-content {
}

.wrapper-img {
  display: flex;
  width: calc(100% - 80px);
  /* padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px; */
  /* padding: 40px; */
  padding: 80px 40px;
  justify-content: space-between;
}

.main-img {
  max-width: 20%;
  height: 420px;
}
